.container {
  float: left !important;
}

.snap {
  display: inline-block;
  border: 1px solid black;
  height: 500px;
  width: 200px;
  margin: 10px;
}

.snap video {
  width: 100%;
}

.snap img {
  width: 100%;
}

/* img {
  height: 300px;
  margin: 10px;
} */
